{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">О нас:</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row ">
        <p>
            DesignBoom — ваш проводник в мир современного дизайна.

            Магазин DesignBoom открыт в Москве в 2008 году и может по праву называться первым дизайн-шопом в России. С
            течением времени и появлением в стране новых магазинов дизайнерской мебели, декора и подарков, DesignBoom
            стремится оставаться верным своей изначальной концепции: предлагать покупателям только лучшее из огромного
            ассортимента ведущих дизайнерских брендов.
            </p>
        <p>
            Сегодня коллекция магазина DesignBoom строится вокруг актуальных трендов в промышленном дизайне, самых
            модных новинок, а также признанных икон дизайна ХХ века. В DesignBoom нет случайных вещей. Мы ориентируемся
            на текущие тенденции мирового дизайна и интерес российского потребителя. Широкий предметный и ценовой
            диапазон — наша особенность, которая позволяет каждому найти в DesignBoom нужную и красивую вещь.
            </p>
        <p>
            Мы сотрудничаем со многими зарубежными брендами и являемся эксклюзивным представителем некоторых из них. Мы
            не продаем подделки и реплики, а только оригинальные и сертифицированные объекты. Из широкого ассортимента
            фабрик мы выбираем самые интересные предметы для дома, мебель, освещение и аксессуары. Все для того, чтобы
            ваша жизнь стала более комфортной и красивой.
        </p>
        <p>
            Оригинальная концепция и растущий интерес у покупателей позволили магазину вырасти до небольшой розничной
            сети. Сегодня, кроме интернет-магазина, в Москве открыты два магазина DesignBoom — в Центре дизайна Artplay
            и в ТЦ «Кунцево Плаза».
            </p>

    </div>
</div>
<!-- End Contact -->
{% endblock %}