{% extends 'main/base.html' %}
{% load static %}




{% block content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last ">
                            <img class="img-fluid" src="{% static './assets/img/dolls.jpg'%}" alt=""
                                 style="border: 3px solid #bff5d1;" width="900" height="1000">
                            <p></p>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b></b>Интерьерные куклы</h1>
                                <p>
                                    Интерьерные куклы всегда вызывают интерес к себе не только у коллекционеров,
                                    но и у обычных ценителей красивых вещей.
                                    Они могу украсить любой интерьер и создать уют в доме.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static './assets/img/dolls4.jpg' %}" alt=""
                                 style="border: 3px solid #bff5d1;" width="900" height="1000">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Если в интерьере чего то не хватает...</h1>
                                <p>
                                    Каждая кукла уникальна и может быть изготовлена в соответствии с дизайном помещения,
                                    в котором будет находиться. Весь её образ продумывается до мелочей. И такими куклами,
                                    к сожалению, играть не рекомендуется! Их предназначение - украшение интерьера,
                                    придание комнате стильного завершенного образа.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
           role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
           role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


{% endblock %}