{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h5">Пет-проект</h1>
        </div>
    </div>



    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <b>Пет-проект - интернет магазин интерьерных изделий.</b>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}
