{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h5">ПУБЛИЧНАЯ ОФЕРТА О ПРЕДОСТАВЛЕНИИ УСЛУГ В ИНТЕРНЕТ-МАГАЗИНЕ DESIGNBOOM.RU</h1>
        </div>
    </div>



    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <b>ОСНОВНЫЕ ПОНЯТИЯ</b>
            <p>
            Пользователь – физическое лицо, посетитель Сайта, принимающий условия настоящего
            Соглашения и желающий разместить Заказы на сайте https://designboom.ru
                </p>
            <p>Покупатель – Пользователь, разместивший Заказ на сайте https://designboom.ru</p>
            <p>Продавец – ООО «Дизайнбум» (ИНН 9721143770, адрес: 109202, г. Москва, ул. 3-я Карачаровская
                д.18А, стр.2, помещение I, комната 19 (этаж 3).</p>
            <p>Интернет-магазин – Интернет-сайт, принадлежащий Продавцу, расположенный в сети интернет
                по адресу https://designboom.ru,гдепредставленыТовары, предлагаемые Продавцом для
                приобретения, а также условия оплаты и доставки Товаров Покупателям.</p>
            <p>Сайт – https://designboom.ru</p>
            <p>Товар – мебель, светильники, посуда и иные товары, представленные к продаже на Сайте
                Продавца.</p>
            <p>Заказ–должным образом оформленный запрос Покупателя на приобретение и доставку по
                указанному Покупателем адресу / посредством самовывоза Товаров, выбранных на Сайте.</p>

            <b>1. ОБЩИЕ ПОЛОЖЕНИЯ</b>
            <p>1.1. Продавец осуществляет продажу Товаров через Интернет-магазин по адресу
                https://designboom.ru</p>
            <p>1.2. Заказывая Товары через Интернет-магазин, Пользователь соглашается с условиями продажи
                Товаров, изложенными ниже (далее – Условия продажи товаров). В случае несогласия с
                настоящим Пользовательским соглашением (далее - Соглашение) Пользователь обязан
                немедленно прекратить использование сервиса и покинуть сайт https://designboom.ru</p>
            <p>1.3. Настоящие Условия продажи товаров, а также информация о Товаре, представленная на
                Сайте, являются публичной офертой в соответствии со ст.435 и п.2 ст.437 Гражданского кодекса
                Российской Федерации.</p>
            <p>1.4. Пользователь соглашается с Условиями продажи товаров, нажимая кнопку «Оформить заказ».</p>
            <p>1.5. Соглашение может быть изменено Продавцом в одностороннем порядке без уведомления
                Пользователя/Покупателя. Новая редакция Соглашения вступает в силу по истечении 10 (Десяти)
                календарных дней с момента ее публикации на Сайте.</p>
            <p>1.6. Соглашение вступает в силу с момента отправки Покупателю Продавцом электронного
                подтверждения принятия Заказа при оформлении Покупателем Заказа на Сайте, а также с
                момента принятия от Покупателя Заказа по телефону +7 (495) 477-54-95. Договор розничной
                купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или
                товарного чека либо, иного документа, подтверждающего оплату товара.</p>
            <b>2. ПРЕДМЕТ СОГЛАШЕНИЯ</b>
            <p>2.1. Предметом настоящего Соглашения является предоставление возможности Пользователю
                приобретать для личных, семейных, домашних и иных нужд Товары, представленные в каталоге
                Интернет-магазина по адресу https://designboom.ru</p>
            <p>2.2. Данное Соглашение распространяется на все виды Товаров и услуг, представленных на Сайте,
                пока такие предложения с описанием присутствуют в каталоге Интернет-магазина.</p>
            <b id="yakor_2">3. РЕГИСТРАЦИЯ НА САЙТЕ</b>
            <p>3.1. Регистрация на Сайте осуществляется по адресу https://designboom.ru/</p>
            <p>3.2. Регистрация на Сайте является обязательной для оформления Заказа.</p>
            <p>3.3. Продавец не несет ответственности за точность и правильность информации,
                предоставляемой Пользователем при регистрации.</p>
            <p>3.4. Пользователь обязуется не сообщать третьим лицам логин и пароль, указанные
                Пользователем при регистрации. В случае возникновения у Пользователя подозрений
                относительно безопасности его логина и пароля, или возможности их несанкционированного
                использования третьими лицами, Пользователь обязуется незамедлительно уведомить об этом
                Продавца, направив соответствующее электронное письмо по адресу: hello@designboom.ru</p>
            <p>3.5. Общение Пользователя/Покупателя с операторами Call-центра /менеджерами и иными
                представителями Продавца должно строиться на принципах общепринятой морали и
                коммуникационного этикета. Строго запрещено использование нецензурных слов, брани,
                оскорбительных выражений, а также угроз и шантажа, в независимости от того, в каком виде и
                кому они были адресованы.</p>
            <p>4. ТОВАР И ПОРЯДОК СОВЕРШЕНИЯ ПОКУПКИ</p>
            <p>4.1. Продавец обеспечивает наличие на своем складе Товаров, представленных на Сайте.
                Сопровождающие Товар фотографии являются простыми иллюстрациями к нему и могут
                отличаться от фактического внешнего вида Товара. Сопровождающие Товар
                описания/характеристики не претендуют на исчерпывающую информативность и могут содержать
                опечатки. Для уточнения информации по Товару Покупатель должен обратиться в Службу
                поддержки клиентов по телефону 8 (495) 477-54-95 или по электронной почте
                hello@designboom.ru</p>
            <p>4.2. В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе
                исключить указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом
                Покупателя путем направления соответствующего электронного сообщения по адресу,
                указанному Покупателем при регистрации (либо звонком оператора Call-центра Продавца).</p>
            <p>4.3. В случае аннуляции полностью либо частично предоплаченного Заказа, стоимость
                аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был
                оплачен.</p>
            <p>4.4. Покупатель несет полную ответственность за предоставление неверных сведений, повлекшее
                за собой невозможность надлежащего исполнения Продавцом своих обязательств перед
                Покупателем.</p>
            <p>4.5. После оформления Заказа на Сайте Покупателю предоставляется информация о
                предполагаемой дате доставки путем направления электронного сообщения по адресу,
                указанному Покупателем при регистрации, или по телефону. Менеджер, подтверждающий
                данный Заказ, уточняет детали Заказа, согласовывает дату доставки, которая зависит от наличия
                заказанных Товаров на складе Продавца и времени, необходимого для обработки и доставки
                Заказа.</p>
            <p>4.6. Ожидаемая дата передачи Заказа в Службу доставки сообщается Покупателю менеджером,
                подтверждающим Заказ, по электронной почте или при контрольном звонке Покупателю.</p>
            <b>5. ДОСТАВКА ЗАКАЗА</b>
            <p>5.1. Способы, а также примерные сроки доставки Товаров указаны на Сайте в разделе
                «Доставка и Оплата» по адресу https://designboom.ru/about/delivery/. Конкретные сроки
                доставки могут бытьсогласованы Покупателем с оператором Call-центра при
                подтверждении заказа.</p>
            <p>5.2. Территория доставки Товаров, представленных на Сайте, ограничена пределами Российской
                Федерации.</p>
            <p>5.3. Задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по
                вине Продавца.</p>
            <p>5.4. При доставке Заказ вручается Покупателю либо третьему лицу, указанному в Заказе, в
                качестве получателя (далее Покупатель или третье лицо именуются «Получатель»).
                При невозможности получения не оплаченного Заказа, указанными выше лицами Заказможет
                быть вручен лицу, который может предоставить сведения о Заказе (номер отправления и/или
                ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу,осуществляющему
                доставку Заказа.</p>
            <p>5.5. Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств,
                указанных в пункте 5. настоящего Соглашения, при вручении предоплаченного Заказа лицо,
                осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность
                Получателя, а также указать тип и номер предоставленного Получателем документа на
                накладной или акте-передачи к Заказу. Продавец гарантирует конфиденциальность и защиту
                персональных данных Получателя (п.9.3.).</p>
            <p>5.6. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с
                момента передачи ему Заказа и проставления Получателем Заказа подписи в документах,
                подтверждающих доставку Заказа. В случае недоставки Заказа Продавец возмещает Покупателю
                стоимость предоплаченного Покупателем Заказа и доставки в полном объеме после получения от
                Службы доставки подтверждения утраты Заказа.</p>
            <p>5.7. Стоимость доставки каждого Заказа рассчитывается индивидуально, исходя из веса Товара,
                региона и способа доставки, а также (в случае необходимости) формы оплаты, и указывается на
                Сайте на последнем этапе оформления Заказа.</p>
            <p>5.8. Обязанность Продавца передать товар Покупателю считается исполненной в момент вручения
                курьером Товара Получателю.</p>
            <p>5.9. При принятии Заказа от курьера Получатель обязан осмотреть доставленный Товар и
                проверить его на соответствие заявленному количеству, ассортименту и комплектности, а также
                проверить срок службы доставленного Товара и целостность упаковки. В случае отсутствия
                претензий к доставленному Товару Получатель расписывается в «Бланке доставки заказов» и
                оплачивает Заказ (в отсутствие 100%-ной предоплаты). Подпись в доставочных документах
                свидетельствует о том, что претензий к Товару Получателем не заявлено, и Продавец полностью и
                надлежащим образом выполнил свою обязанность по передаче Товара.</p>
            <p>5.10. Время нахождения курьера по адресу Получателя ограничено 15 минутами.</p>
            <p>5.11. Товар, представленный на Сайте, по качеству и упаковке соответствует ГОСТу и ТУ, что
                подтверждается соответствующими документами (сертификатами и т.д.).</p>
            <p>5.12. Уточнить дату, время и при необходимости маршрут доставки, можно у менеджера, который
                связывается с Покупателем для подтверждения Заказа.</p>
            <p>5.13. Транспортная компания имеет право отправлять информационные сообщения, на
                электронную почту или мобильный телефон Пользователя/Покупателя, информирующие о
                заказе и этапах его обработки/доставки, которые отправляются автоматически и не могут быть
                отклонены Пользователем/Покупателем.</p>
            <p>5.14. Пользователь понимает и соглашается с тем, что: осуществление доставки — отдельная
                услуга, не являющаяся неотъемлемой частью приобретаемого Покупателем Товара, выполнение
                которой заканчивается в момент получения Получателем Товара и осуществления платежа за
                него. Претензии к качеству приобретенного Товара, возникшие после получения и оплаты Товара,
                рассматриваются в соответствии с Законом РФ «О защите прав потребителей» и гарантийными
                обязательствами Продавца. В связи с этим приобретение Товара с доставкой не дает Покупателю
                право требования доставки приобретенного Товара в целях гарантийного обслуживания или
                замены, не дает возможности осуществлять гарантийное обслуживание или замену Товара
                посредством выезда к Покупателю и не подразумевает возможность возврата стоимости доставки
                Товара в случаях, когда Покупатель имеет право на возврат денег за Товар как таковой, в
                соответствии с Законом РФ «О защите прав потребителей».</p>
            <b>6. ОПЛАТА ТОВАРА</b>
            <p>6.1. Цена товара указывается в рублях Российской Федерации и включает в себя налог на
                добавленную стоимость.</p>
            <p>6.2. Цена Товара указывается на Сайте. В случае неверного указания цены заказанного
                Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по
                исправленной цене, либо аннулирования Заказа. При невозможности связаться с Покупателем
                данный Заказ считается аннулированным. Если Заказ был оплачен, Продавец возвращает
                Покупателю оплаченную за Заказ сумму тем же способом, которым она была уплачена.</p>
            <p>6.3. Цена Товара на Сайте может быть изменена Продавцом в одностороннем порядке. При этом
                цена на заказанный Покупателем Товар изменению не подлежит.</p>
            <p>6.4. Особенности оплаты Товара с помощью банковских карт:</p>
            <p>6.4.1 В соответствии с положением ЦБ РФ «Об эмиссии банковских карт и об операциях,
                совершаемых с использованием платежных карт» от 24.12.2004 No266-П операции по банковским
                картам совершаются держателем карты, либо уполномоченным им лицом.</p>
            <p>6.4.2 Авторизация операций по банковским картам осуществляется банком. Если у банка есть
                основания полагать, что операция носит мошеннический характер, то банк вправе отказать в
                осуществлении данной операции. Мошеннические операции с банковскими картами попадают
                под действие статьи 159 УК РФ.</p>
            <p>6.4.3 Во избежание случаев различного рода неправомерного использования банковских карт при
                оплате все Заказы, оформленные на Сайте и предоплаченные банковской картой, проверяются
                Продавцом. Согласно Правилам международных платежных систем в целях проверки личности
                владельца и его правомочности на использование карты Покупатель, оформивший такой заказ,
                обязан по запросу, поступившему от Продавца, предоставить копию двух страниц паспорта
                владельца банковской карты: разворота с фотографией, а также копию банковской карты с обеих
                сторон (номер карты нужно закрыть, кроме последних четырех цифр). Продавец оставляет за
                собой право без объяснения причины аннулировать Заказ, в том числе в случае непредставления
                указанных документов Покупателем (по электронной почте в виде сканированных копий) в
                течение 14 (Четырнадцати) календарных дней с даты оформления Заказа или наличия сомнений в
                их подлинности. Стоимость Заказа возвращается на карту владельца.</p>
            <p>6.5. Продавец вправе предоставлять скидки на Товары и устанавливать программу бонусов. Виды
                скидок, бонусов, порядок и условия начисления указаны на Сайте и могут быть изменены
                Продавцом в одностороннем порядке.</p>
            <p>6.6. При проведении маркетинговых мероприятий, предполагающих вложение каких-либо</p>
            объектов в отправления с Заказом Покупателя, доставка указанных вложений осуществляется за
            счет Покупателя. Для того, чтобы отказаться от вложения, Покупателю необходимо обратиться в
            Службу по работе с клиентами.
            <p>6.7. Продавец ведет статистику выкупленных Покупателем заказов. В случае, если в соответствии с
                указанной статистикой в рамках ранее оформленных подряд 4 и более заказов объем
                выкупленных Покупателем товаров составит 45 и менее процентов от общего объема заказанных
                Покупателем товаров, Продавец вправе принять решение о блокировке для данного Покупателя
                услуги "Наличными курьеру". Впоследствии Покупатель сможет вновь воспользоваться данной
                услугой только после полного выкупа нескольких последующих заказов.</p>
            <b>7. ВОЗВРАТ ТОВАРА И ДЕНЕЖНЫХ СРЕДСТВ</b>
            <p>7.1. Возврат Товара осуществляется в соответствии с условиями возврата, указанными на Сайте в
                разделе «Гарантия и возврат» по адресу https://designboom.ru/about/guarantee/.</p>
            <p>7.2. Возврат Товара надлежащего качества</p>
            <p>7.2.1. Покупатель вправе отказаться от заказанного Товара в любое время до его получения, а
                после получения Товара — в течение 7 дней в соответствии с п. 4 ст. 26.1 Закона о защите прав
                потребителей. Возврат Товара надлежащего качества возможен в случае, если сохранены его
                товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия
                покупки указанного Товара.</p>
            <p>7.2.2. Согласно Постановлению No55 Закона о защите прав потребителей изделия и материалы,
                контактирующие с пищевыми продуктами, из полимерных материалов, в том числе для разового
                использования (посуда и принадлежности столовые и кухонные, емкости и упаковочные
                материалы для хранения и транспортирования пищевых продуктов) обмену и возврату не
                подлежат.</p>
            <p>7.2.3. При отказе Покупателя от Товара согласно п.7.2.1. Продавец возвращает ему стоимость
                возвращенного Товара, за исключением расходов Продавца, связанных с доставкой
                возвращенного Покупателем Товара, в течение 10 дней с даты поступления возвращенного
                Товара на склад Продавца вместе с заполненным Покупателем заявлением на возврат с
                приложенными к нему кассовым или товарным чеком и копией паспорта или водительских прав.</p>
            <p>7.3. Возврат Товара ненадлежащего качества:</p>
            <p>7.3.1. Под товаром ненадлежащего качества подразумевается товар, который неисправен и не
                может обеспечить исполнение своих функциональных качеств. Полученный Товар должен
                соответствовать описанию на Сайте. Отличие элементов дизайна, или оформления от заявленных
                в описании на Сайте не является признаком не качественности или не функциональности Товара.</p>
            <p>7.3.2. Внешний вид и комплектность Товара, а также комплектность всего Заказа должны быть
                проверены Получателем в момент доставки Товара.</p>
            <p>При доставке Товара Покупатель ставит свою подпись в накладной, акте-передачи или бланке
                доставки заказов о доставке в графе: «Заказ принял, комплектность полная, претензий к количеству
                и внешнему виду товара не имею». После получения Заказа претензии к внешнему виду товара,
                его количеству, комплектности непринимаются.</p>
            <p>7.3.3. Если Покупателю был передан Товар ненадлежащего качества и оное не было заранее
                оговорено Продавцом, Покупатель вправе воспользоваться положениями ст. 18 «Права
                потребителя при обнаружении в товаре недостатков» Закона о защите прав потребителей.</p>
            <p>7.3.4. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в
                течение 10 дней со дня поступления товара на склад Продавца (ст. 22 Закона РФ «О защите прав
                потребителей»).</p>
            <p>7.4. Возврат денежных средств осуществляется посредствам возврата стоимости оплаченного
                Товара тем же способом, каким товар был оплачен.</p>
            <b>8. ОТВЕТСТВЕННОСТЬ</b>
            <p>8.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие
                ненадлежащего использования Товаров, приобретенных в Интернет-магазине.</p>
            <p>8.2. Продавец не несет ответственности за содержание и функционирование внешних сайтов.</p>
            <b>9. КОНФИДЕНЦИАЛЬНОСТЬ И ЗАЩИТА ИНФОРМАЦИИ</b>
            <p>9.1. Персональные данные Пользователя/Покупателя обрабатывается в соответствии с ФЗ «О
                персональных данных» No152-ФЗ и Политикой конфиденциальности Продавца.</p>
            <p>9.2. При регистрации на Сайте Пользователь предоставляет следующую информацию: Фамилия,
                Имя, адрес электронной почты, контактный номер телефона, пароль для доступа к Сайту.</p>
            <p>9.3. Предоставляя свои персональные данные при регистрации на Сайте, Пользователь
                соглашается на их обработку Продавцом, в том числе и в целях продвижения Продавцом товаров
                и услуг.</p>
            <p>9.4. Продавец использует персональные данные Пользователя/Покупателя: для регистрации
                Пользователя на Сайте; для выполнения своих обязательств перед Пользователем/Покупателем;
                для оценки и анализа работы Сайта; для определения победителя в акциях, проводимых
                Продавцом.</p>
            <p>9.4.1. Продавец имеет право отправлять информационные, в том числе рекламные сообщения, на
                электронную почту и мобильный телефон Пользователя/Покупателя с его согласия.
                Пользователь/Покупатель вправе отказаться от получения рекламной и другой информации без
                объяснения причин отказа. Сервисные сообщения, информирующие Пользователя/Покупателя о
                заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены
                Пользователем/Покупателем.</p>
            <p>9.5. Продавец вправе использовать технологию «cookies». «Cookies» не содержат
                конфиденциальную информацию и не передаются третьим лицам.</p>
            <p>9.6. Продавец получает информацию об ip-адресе посетителя Сайта https://designboom.ru.
                Данная информация не используется для установления личности посетителя.</p>
            <p>9.7. Продавец не несет ответственности за сведения, предоставленные
                Пользователем/Покупателем на Сайте в общедоступной форме.</p>
            <p>9.8. Продавец вправе осуществлять записи телефонных разговоров с
                Пользователем/Покупателем. При этом Продавец обязуется: предотвращать попытки
                несанкционированного доступа к информации, полученной входе телефонных переговоров,
                и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению
                Заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных
                технологиях и о защите информации».</p>
            <b>10. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</b>
            <p>10.1. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и
                обязанности, вытекающие из его отношений с Покупателем, третьим лицам.</p>
            <p>10.2. Интернет-магазин и предоставляемые сервисы могут временно частично или полностью
                недоступны по причине проведения профилактических или иных работ или по любым другим
                причинам технического характера. Техническая служба Продавца имеет право периодически
                проводить необходимые профилактические или иные работы с предварительным уведомлением
                Покупателей или без такового.</p>
            <p>10.3. К отношениям между Пользователем/Покупателем и Продавцом применяются положения
                Российского законодательства.</p>
            <p>10.4. В случае возникновения вопросов и претензий со стороны Пользователя/Покупателя он
                должен обратиться к Продавцу по телефону или иным доступным способом. Все возникающее
                споры стороны будут стараться решить путем переговоров, при не достижении соглашения спор
                будет передан на рассмотрение в судебный орган в соответствии с действующим
                законодательством РФ.</p>
            <p>10.5. Признание судом недействительности какого-либо положения настоящего Соглашения не
                влечет за собой недействительность остальных положений.</p>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}
