{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Условия доставки:</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row ">
        <p>
        Ничего не доставим, это пет-проект :)
        </p>

    </div>
</div>



<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Оплата:</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row ">
        <h6>
            Подключен тестовый магазин ЮKassa:
        </h6>

        <p>
            Для оплаты используйте одну из тестовых карт, например 5555555555554444
            (подойдет любой код CVC и дата из будущего).
        </p>



    </div>
</div>


<!-- End Contact -->
{% endblock %}