{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<!-- Start Content Page -->
<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Условия доставки:</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row ">
        <p>
        Время и дата доставки оговаривается заранее. Доставка с 9:00 до 21:00 в рабочие дни, в субботу и воскресенье
        доставка не осуществляется. При оформлении заказа на территории г. Москвы, вы можете выбрать удобный временной
        интервал доставки: 10:00–16:00 или 16:00–20:00. Обращаем ваше внимание, что мы доставляем заказанный товар в
        интервале времени, а не к определенному часу. Водитель свяжется с вами за час до приезда. В случае отсутствия
        получателя по адресу водитель ожидает не более 20 минут.
        </p>
        <p>
        Продукция доставляется в разобранном и упакованном виде, сдается клиенту по спецификации с указанием количества
        доставленных единиц. Клиент обязан принять продукцию, сверив ее наличие по спецификации и расписаться в
        получении.
        </p>
    </div>
</div>



<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Оплата:</h1>
    </div>
</div>


<!-- Start Contact -->
<div class="container py-5">
    <div class="row ">
        <h6>
            1. Наличный расчёт при получении
        </h6>
        <p>
            При доставке курьером транспортной компании и получении в пунктах выдачи заказов
        </p>
        <h6>
            2. Банковской картой при получении
        </h6>
        <p>
            Принимаются в пунктах выдачи заказов или доставке курьером транспортной компании
        <p>
            <img src="{% static 'assets/img/visa.png' %}" width="55" height="50">&nbsp&nbsp&nbsp&nbsp
            <img src="{% static 'assets/img/master-cart.png' %}" width="55" height="50">&nbsp&nbsp&nbsp&nbsp
            <img src="{% static 'assets/img/mir.png' %}" width="55" height="50">
        </p>
        </p>

        <h6>
            3. Безналичный расчет на сайте
        </h6>
        <p>
            В процессе оформления заказа
        <p>
            <img src="{% static 'assets/img/visa.png' %}" width="55" height="50">&nbsp&nbsp&nbsp&nbsp
            <img src="{% static 'assets/img/master-cart.png' %}" width="55" height="50">&nbsp&nbsp&nbsp&nbsp
            <img src="{% static 'assets/img/mir.png' %}" width="55" height="50">
        </p>
        </p>
    </div>
</div>


<!-- End Contact -->
{% endblock %}