{% extends 'main/base.html' %}
{% load static %}
{% load cycle_filter %}

{% block content %}
    <!-- Open Content -->
    <section class="bg-light ">
        <div class="container pb-5">
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {% for message in messages%}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3 ">
                        <a href="{{ product.MainImage.url }}">
                            <img class="card-img img-fluid" src="{{ product.MainImage.url }}" alt="Card image cap"
                                 id="product-detail">
                        </a>
                    </div>
                    <div class="row">

                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item"
                             data-bs-ride="carousel">
                            <div class="carousel-inner product-links-wap" role="listbox">
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for image in images %}
                                        <div class="col-4">
                                            <a href="{{ image.image.url }}">
                                                <img class="card-img img-fluid" src="{{ image.image.url }}"
                                                     alt="Product Image">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.name }}</h1>
                            <p class="h3 py-2">₽ {{ product.price}}</p>
                            <p class="py-2">
                                {% with avg_raring=product.get_avg_rating %}
                              {% for i in avg_raring|create_range %}
                                  <i class="fa fa-star text-warning"></i>
                                   {% endfor %}

                               {% for i in 5|subtract:avg_raring|create_range %}
                                  <i class="fa fa-star text-secondary"></i>
                                    {% endfor %}
                                <span class="list-inline-item text-dark">
                                    {% if avg_raring > 0 %} Рейтинг: {{avg_raring}} {% else %} Нет оценок {% endif %}|
                                    <a class="list-inline-item text-dark" href="#yakor_1">
                                        Отзывы ({{product.get_review_count}})
                                    </a>
                                </span>
                            </p>{% endwith %}

                            <h6>Описание:</h6>
                            <p> {{ product.description }} </p>



                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>В наличии :</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class=""><b>{{ product.quantity }}</b></p>
                                </li>
                            </ul>

                                <div class="row pb-3 ">

                                    <div class="col d-grid">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post"
                                              class="form-control">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                            <input type="submit" class=" btn-success btn-lg " name="submit"
                                                   value="Добавить в корзину">
                                        </form>


                                         <form action="{% url 'favorites:favorites_add' product.id %}" method="post"
                                               class="form-control">
                                            {{ FavoritesAddProductForm }}
                                            {% csrf_token %}
                                              <a>
                                            <input type="submit" class=" btn-success btn-lg " name="submit"
                                                   value="Добавить в избранное">
                                         </form>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div >
   <!-- Start Article -->
{% if related_products %}
    <div class="container py-5">
            <div class="row">

                <div class="row text-left p-2 pb-3">
                    <h4>Похожие продукты</h4>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                    </div>
                    <div class="row">
                        {% for product in related_products %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    {% if product.MainImage %}
                                    <a href="{{ product.get_absolute_url }}">
                                    <img class="card-img rounded-0 " src="{{ product.MainImage.url }}"
                                         title="Перейти к просмотру" width="350" height="270">
                                        </a>
                                    {% endif %}

                                </div>
                                <div class="card-body ">
                                    <a href="{{ product.get_absolute_url }}" class="h3 text-decoration-none">
                                        <b>{{ product.name }}</b>
                                    </a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>{{ product.short_description }}</li>
                                    </ul>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>


                                            <a>
                                              <form action="{% url 'cart:cart_add' product.id %}" method="post"
                                                    class="form-control">
                                                {{ cart_product_form_without_choice }}
                                                {% csrf_token %}
                                                <button type="submit" class=" btn btn-success text-white" name=""
                                                        title="Добавить в корзину">
                                                        <i class="fas fa-cart-plus" title="Добавить в корзину"></i>
                                                </button>
                                            </form>
                                            </a>

                                            <a>
                                              <form action="{% url 'favorites:favorites_add' product.id %}"
                                                    method="post" class="form-control">
                                                {{ FavoritesAddProductForm }}
                                                {% csrf_token %}
                                                  <a>
                                                <button type="submit" class=" btn btn-success text-white" name="submit"
                                                        title="Добавить в избранное">
                                                        <i class="far fa-heart" title="Добавить в избранное"></i>
                                                </button>
                                            </form>
                                            </a>
                                        </li>
                                    </ul>
                                          <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            {% with avg_rating=product.get_avg_rating %}
                                            {% for i in avg_rating|create_range %}
                                                <i class="fa fa-star text-warning"></i>
                                            {% endfor %}

                                            {% for i in 5|subtract:avg_rating|create_range %}
                                            <i class="fa fa-star text-secondary"></i>
                                            {% endfor %}
                                            {% endwith %}
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">₽ {{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
 {% endif %}
     <!-- End Article -->

                   {% if user.is_authenticated %}
                       <form id="yakor_1" enctype="multipart/form-data"
                             action="{% url 'reviews:add_review' product.id %}" method="post" class="form-control" >
                          {{ review_form }}
                          {% csrf_token %}
                        <a>
                      <button style="right:-553px; position: relative;" type="submit" class=" btn-success btn-lg" name="submit">
                          Оставить отзыв
                      </button>
                     </form>
                    {% else %}
                    <div class="form-control">
                        <form action="{% url 'users:login' %}">
                    <p >Чтобы оставить отзыв войдите:
                        <button style="right:-px; position: relative;"  type="submit" class=" btn-success " name="submit">Войти </button></p>
                        </form>
                        </div>
                   {% endif %}


                {% for review in product.get_review_with_users %}
            <div style="word-wrap: break-word;" class="media py-5 form-control">
                  {% if review.user.image %}
                <img src="{{ review.user.image.url }}" class="mr-3 img-fluid " alt="image" width="70" height="70">
                  {% else %}
                <img src="{% static 'vendor/img/users/default_avatar.jpg' %}" class="mr-3 img-fluid " alt="image"
                     width="70" height="70">
                  {% endif %}

                    <h5 class="mt-0 editContent">
                        {{ review.user.username }}
                    </h5>
                <div class="media-body mt-4">
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>

                    {% if review.image %}
                    <a href="{{ review.image.url }}">
                        <img src="{{ review.image.url }}" class="mr-3 img-fluid " alt="image" width="130" height="130">
                    </a>
                    {% endif %}
                      <p class="mt-2 editContent">
                          <b>Оценка: {{ review.rating }}/5</b>
                       </p>
                </div>
                {% if review.user.username == user.username %}
                <a href="{% url 'reviews:del_review' review.id %}" class=" ">
                <button style="right:-1065px; position: relative;" type="submit" class=" text-decoration-none " name="submit">Удалить</button>
                    </a>
                {% endif %}
            </div>
            {% endfor %}
            </div>
        </div>
    </section>

    <!-- Close Content -->
{% endblock %}

