    {% extends 'main/base.html' %}
{% load static cache %}
{% load cycle_filter %}

{% block content %}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
           {% if messages %}
            <div class=" alert-success alert-dismissible fade show" role="alert"
                 style="margin-top: 0px;">
                {% for message in messages%}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            <div class="col-lg-3">
                <ul class="list-inline shop-top-menu pb-3 pt-1">
                    <li class="list-inline-item">
                <h1 class="h2 pb-4">
                    <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'products:products' %}">
                    Все категории
                    </a>
                </h1>
                    </li>
                </ul>
                <ul class="list-unstyled templatemo-accordion shop-top-menu pb-3 pt-1">

            {% for category in categories %}
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none"
                           href="{{ category.get_absolute_url }}">
                            {{category.name}}
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline">
                            {% if current_category %}
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ current_category.name }}</strong></p>
                                </li>
                            {% else %}
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>Все категории</strong></p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            {% if current_category %}
                                <form action="{% url 'products:category' current_category.slug %}" method="get"
                                      class="form-control">
                             {% else %}
                                <form action="{% url 'products:products' %}" method="get"  class="form-control">
                             {% endif %}
                              {{ form }}
                              <p><input type="submit" name="submit" value="Сортировать" class=""></p>
                                </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                 {% cache 60 products page_obj.number category_slug sort %}
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                {% if product.MainImage %}
                                <a href="{{ product.get_absolute_url }}">
                                <img class="card-img rounded-0 " src="{{ product.MainImage.url }}"
                                     title="Перейти к просмотру" width="350" height="270">
                                    </a>
                                {% endif %}

                            </div>
                            <div class="card-body ">
                                <a href="{{ product.get_absolute_url }}" class="h3 text-decoration-none">
                                    <b>{{ product.name }}</b>
                                </a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>{{ product.short_description }}</li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <a>
                                          <form action="{% url 'cart:cart_add' product.id %}" method="post"
                                                class="form-control">
                                            {{ cart_product_form_without_choice }}
                                            {% csrf_token %}
                                            <button type="submit" class=" btn btn-success text-white" name=""
                                                    title="Добавить в корзину">
                                                    <i class="fas fa-cart-plus" title="Добавить в корзину"></i>
                                            </button>
                                        </form>
                                        </a>

                                        <a>
                                          <form action="{% url 'favorites:favorites_add' product.id %}" method="post"
                                                class="form-control">
                                            {{ FavoritesAddProductForm }}
                                            {% csrf_token %}
                                              <a>
                                            <button type="submit" class=" btn btn-success text-white" name="submit"
                                                    title="Добавить в избранное">
                                                <i class="far fa-heart" title="Добавить в избранное"></i>
                                            </button>
                                        </form>
                                        </a>
                                    </li>
                                </ul>
                                      <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                       {% with avg_raring=product.get_avg_rating %}
                                        {% for i in avg_raring|create_range %}
                                            <i class="fa fa-star text-warning"></i>
                                        {% endfor %}

                                        {% for i in 5|subtract:avg_raring|create_range %}
                                        <i class="fa fa-star text-secondary"></i>
                                        {% endfor %}
                                       {% endwith %}
                                    </li>
                                </ul>
                                <p class="text-center mb-0">₽ {{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                 {% endcache %}
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        {% for page in paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0
                                      {% if page_obj.number == page  %} active {% endif %}"
                               href="{% url 'products:paginator' page %}">
                                {{ page }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock %}
